LateX/*.aux
LaTeX/*.log
LaTeX/*.lof
LaTeX/*.lol
LaTeX/*.out
LaTeX/*.toc
LaTeX/*.fls
LaTeX/*.fdb_latexmk 
LaTeX/*.synctex.gz
LaTeX/*.bbl
LaTeX/*.blg
LaTeX/*.run.xml
LaTeX/*.bcf
LaTeX/*.pdf
LaTeX/*.ps
LaTeX/*.dvi
LaTeX/*.nav
LaTeX/*.snm
LaTeX/*.vrb
LaTeX/*.xdv
LaTeX/*.thm
LaTeX/*.tdo
LaTeX/*.tps
LaTeX/*.spl
LaTeX/*.out.ps
LaTeX/*.out.pdf
LaTeX/*.synctex
LaTeX/*.synctex(busy)
LaTeX/*.synctex.gz(busy)
LaTeX/*.fdb_latexmk
LaTeX/*.fls
LaTeX/*.auxlock
